body{
  font-family: roboto;
}

#left {
  background: #D8FED7;
  display: grid;
  place-items: center ;
}

@media(min-width: 992px){
  #left {
    height: 100vh;
  }
}

#left .logo {
  width: 200px;
}

@media(max-width: 575px){
  #left .logo {
    width: 100px;
    padding-top: 20px;
  }
}

#right {
  background-color: palegreen;
  min-height: 100vh;
  padding: 50px 15px;
}

@media(min-width: 992px){
  #right {
    padding: 50px 100px;
  }
}

#master-history {
  display: none;
}