body{
  font-family: roboto;
}

#left {
  background: #D8FED7;
  height: 100vh;
  display: grid;
  place-items: center ;
}

#left .logo {
  width: 200px;
}

#right {
  background-color: palegreen;
  min-height: 100vh;
  padding: 50px 100px;
}

#master-history {
  display: none;
}